anndata==0.10.7
cellpose==3.0.7
h5py==3.2.1
imgaug==0.4.0
matplotlib==3.7.2
natsort==8.4.0
numpy==1.24.4
opencv_python==4.8.0.74
pandas==2.0.3
rpy2==3.5.16
scanpy==1.10.1
scikit_image==0.18.3
scikit_learn==0.24.2
scipy==1.9.0
scvi==0.6.8
Shapely==2.0.4
tables==3.6.1
tifffile==2021.7.2
torch==2.0.1
tqdm==4.62.3
umap==0.1.1
